# ==========================================
#  .gitignore - VidStamp (Clean Mode)
# ==========================================

# Python compiled cache
__pycache__/
*.pyc
*.pyo
*.pyw

# Konfigurasi AI & Memori internal (Tidak di-push)
memory/
Agent.md
.gemini/
.agents/
docs/srs/

# OS Log & Temporary files
.DS_Store
Thumbs.db

# PyInstaller Build & Distribution folders
build/
dist/

# Executable & Biner FFmpeg eksternal (Tidak di-push karena ukurannya yang sangat besar)
bin/win/
bin/mac/
VidStamp_Setup.exe
VidStamp_Setup_v*.exe

# Mesin MPV & Pustaka Eksternal
*.dll
media-kit/
