# ==========================================
#  .gitignore - VidStamp (Clean Mode)
# ==========================================

# Python compiled cache
__pycache__/
*.pyc
*.pyo
*.pyw

# Konfigurasi AI & Memori internal (Tidak di-push)
memory/
Agent.md
.gemini/
.agents/
docs/srs/

# OS Log & Temporary files
.DS_Store
Thumbs.db
